/* 此文件用来设置页面的样式 */

@supports (display: grid) {

  // body background color animation
  body {
    animation: colorchange 40s infinite;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 40s infinite;
    /* Chrome and Safari */
  }

  @keyframes colorchange {
    0%   {background: #d5ccc8;}
    20%  {background: #8ccae0;}
    40%  {background: #f7c8c1;}
    60%  {background: #fdd982;}
    80%  {background: #a5c88e;}
    100% {background: #d5ccc8;}
  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    0%   {background: #d5ccc8;}
    20%  {background: #8ccae0;}
    40%  {background: #f7c8c1;}
    60%  {background: #fdd982;}
    80%  {background: #a5c88e;}
    100% {background: #d5ccc8;}
  }


  // item style

  #item1 .layout { background-color: none; }
  #item2 .layout { background-color: none; }
  #item3 .layout { background-color: none; }

  .item.noiseBg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    &::before {
      content: "";

      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      // background: url('https://anatacreative.com/codepen/noise.png');
      background: url('/assets/images/noise.png');

      animation: 1s infinite noise;

      pointer-events: none;
    }
  }

  @keyframes noise {
    0%, 100% {background-position: 0 0;}

    10% {background-position: -5% -10%;}

    20% {background-position: -15% 5%;}

    30% {background-position: 7% -25%;}

    40% {background-position: 20% 25%;}

    50% {background-position: -25% 10%;}

    60% {background-position: 15% 5%;}

    70% {background-position: 0% 15%;}

    80% {background-position: 25% 35%;}

    90% {background-position: -10% 10%;}
  }

  // Typography style
  a {
    color: $text-color;
    text-decoration: none;
  }

  h1.huge {
    font-size: 8em;
    line-height: 100%;
  }

  h2.sectionTitle {
    font-size: 4em;
    font-weight: 700;
    margin: 1em 0 0.5em;
  }

  p.huge {
    font-size: 3em;
    line-height: 120%;
    font-weight: 500;
    margin: 1em 0;
  }

  p.huge a {
    text-decoration: underline;
  }

  .navLink a {
    font-size: $font-size-l;
    line-height: 4em;
    font-weight: 500;
    text-decoration: none;
    position: relative;
  }

  // social link part style
  .content .socialLinks {
    position: absolute;
    bottom: 0em;
    margin-bottom: 1em;
  }

  li.sns span {
    float: right;
    visibility: hidden;
    font-weight: 500;
    font-size: 3em;
  }

  li.sns a:hover + span {
    visibility: visible;
  }

  ul li {
    list-style-type: none;
  }

  ul li.sns {
    margin: 1em 0;
  }

  li.sns a {
    display: inline-block;
    font-weight: 500;
    color: $text-color;
    font-size: 3em;
    position: relative;
  }

  // Link gradient Effects

  @keyframes grow {
    0% { width: 0%; opacity: 0; }
    50% { opacity: 1; }
    100% { width: 100%; }
  }

  .underline:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    bottom: -3px;
  }

  .grow:hover::after { animation: grow .5s; }

  .grow.fromLeft:hover::after {
    left: 0;
    background: linear-gradient(45deg, red, orange);
  }

  // Next page element styles
  .item a.next-page {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 1em 0.6em;
    border-radius: 6em;
    z-index: 2000;
    border: none;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    font-weight: 500;
    overflow: hidden;
  }

  .item	.layout a.next-page {
    color: #f7c8c1;
    background: white;
  }

  #item1	.layout a.next-page:hover,
  #item2	.layout a.next-page:hover,
  #item3	.layout a.next-page:hover {
    color: whitesmoke;
    transition: all 0.3s ease-out;
    // transform:scale(1.2);
  }

  @keyframes grow {
    0% { width: 0%; opacity: 0; }
    50% { opacity: 1; }
    100% { width: 100%; }
  }

  .layout a.next-page:before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, red, orange);
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0%;
    z-index: -1;
    // -webkit-transition: right 0.09s ease-in;
  }

  .layout a.next-page:hover:before {
    right: 0;
    animation: grow .3s;
  }



  /*手机*/

  // mobile
  @include bp(mobile) {

    // menu style
    .wrapper-menu::before {
      content: none;
    }

    .wrapper-menu {
      width: 20px;
      height: 20px;
      margin-top: 2em;
    }

    .line-menu {
      border-radius: 12px;
      height: 4px;
    }

    .line-menu.half {
      width: 50%;
    }

    .open .line-menu.start {
      transform: rotate(-90deg) translateX(2.4px);
    }

    .open .line-menu.end {
      transform: rotate(-90deg) translateX(-2.4px);
    }

    // typography
    h1.huge {
      font-size: 4.8em;
      line-height: 100%;
    }

    h2.sectionTitle {
      font-size: 3em;
      font-weight: 700;
      margin: 1em 0 0.5em;
    }

    p.huge {
      font-size: 1.5em;
      line-height: 120%;
      font-weight: 500;
      margin: 1.5em 0;
    }

    li.sns a {
      display: inline-block;
      font-weight: 500;
      color: $text-color;
      font-size: 1.6em;
      position: relative;
    }

    .sidebar {
      font-size: 1.2em;
    }

    .navLink a {
      font-size: 1.5em;
      line-height: 4em;
    }

    // Next page element styles

    .item a.next-page {
      font-size: 1.2em;
      padding: 1em 0.6em;
      border-radius: 6em;
      z-index: 2000;
      border: none;
      box-shadow: 0 3px 8px rgba(0,0,0,.1);
      font-weight: 500;
      overflow: hidden;
    }

    .item	.layout a.next-page {
      color: #f7c8c1;
      background: white;
    }

    #item1	.layout a.next-page:hover,
    #item2	.layout a.next-page:hover,
    #item3	.layout a.next-page:hover {
      color: whitesmoke;
      transition: all 0.3s ease-out;
      // transform:scale(1.2);
    }

    @keyframes grow {
      0% { width: 0%; opacity: 0; }
      50% { opacity: 1; }
      100% { width: 100%; }
    }

    .layout a.next-page:before {
      content: "";
      position: absolute;
      background: linear-gradient(45deg, red, orange);
      bottom: 0;
      left: 0;
      right: 100%;
      top: 0%;
      z-index: -1;
      // -webkit-transition: right 0.09s ease-in;
    }

    .layout a.next-page:hover:before {
      right: 0;
      animation: grow .3s;
    }

    li.sns span {
      display: none;
    }

    // 鼠标移动至 social links 上的效果
    li.sns a:hover + span {
      display: none;
    }

    .content .socialLinks {
      margin-bottom: 1.5em;
    }

    // Home page cube styles
    $wallSize: 100px;

    .content div {
      transform-style: preserve-3d;
    }

    .world {
      transform: rotateX(-30deg) rotateY(-30deg);
      .forward {
        position: absolute;
        animation: slide 2000ms linear infinite;
        right: 2em;
        top: 50vh;
      }
      .box {
        width: $wallSize;
        height: $wallSize;
        transform-origin: 100% 100%;
        animation: roll 2000ms cubic-bezier(1.000, 0.010, 1.000, 1.000) infinite;
        .wall {
          position: absolute;
          width: $wallSize;
          height: $wallSize;
          // background: rgba(10, 10, 10, 0.9);
          background: transparent;
          border: 1px solid rgba(250, 250, 250, .4);
          box-sizing: border-box;
          &:nth-child(1) {
            transform: translateZ($wallSize / 2);
          }
          &:nth-child(2) {
            transform: rotateX(180deg) translateZ($wallSize / 2);
          }
          &:nth-child(3) {
            transform: rotateX(90deg) translateZ($wallSize / 2);
          }
          &:nth-child(4) {
            transform: rotateX(-90deg) translateZ($wallSize / 2);
          }
          &:nth-child(5) {
            transform: rotateY(90deg) translateZ($wallSize / 2);
          }
          &:nth-child(6) {
            transform: rotateY(-90deg) translateZ($wallSize / 2);
          }
        }
      }
    }

    @keyframes roll {
      0% {
        transform: rotateZ(0deg);
      }
      85% {
        transform: rotateZ(90deg);
      }
      87% {
        transform: rotateZ(88deg);
      }
      90% {
        transform: rotateZ(90deg);
      }
      100% {
        transform: rotateZ(90deg);
      }
    }

    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-$wallSize);
      }
    }

  }


  /*平板*/

  // iPad
  @include bp(ipad) {
    h1.huge {
      font-size: 6.6em;
      line-height: 100%;
    }

    h2.sectionTitle {
      font-size: 3.6em;
      font-weight: 700;
      margin: 0.5em 0 0.5em;
    }

    p.huge {
      font-size: 2.5em;
      line-height: 120%;
      font-weight: 500;
      margin: 1em 0;
    }

    li.sns a {
      display: inline-block;
      font-weight: 500;
      color: $text-color;
      font-size: 2.4em;
      position: relative;
    }

    li.sns span {
      float: right;
      visibility: hidden;
      font-weight: 500;
      font-size: 2.4em;
    }

    // Home page cube styles
    $wallSize: 180px;

    .content div {
      transform-style: preserve-3d;
    }

    .world {
      transform: rotateX(-30deg) rotateY(-30deg);
      .forward {
        position: absolute;
        animation: slide 2000ms linear infinite;
        right: 2em;
        top: 20vh;
      }
      .box {
        width: $wallSize;
        height: $wallSize;
        transform-origin: 100% 100%;
        animation: roll 2000ms cubic-bezier(1.000, 0.010, 1.000, 1.000) infinite;
        .wall {
          position: absolute;
          width: $wallSize;
          height: $wallSize;
          // background: rgba(10, 10, 10, 0.9);
          background: transparent;
          border: 1px solid rgba(250, 250, 250, .5);
          box-sizing: border-box;
          &:nth-child(1) {
            transform: translateZ($wallSize / 2);
          }
          &:nth-child(2) {
            transform: rotateX(180deg) translateZ($wallSize / 2);
          }
          &:nth-child(3) {
            transform: rotateX(90deg) translateZ($wallSize / 2);
          }
          &:nth-child(4) {
            transform: rotateX(-90deg) translateZ($wallSize / 2);
          }
          &:nth-child(5) {
            transform: rotateY(90deg) translateZ($wallSize / 2);
          }
          &:nth-child(6) {
            transform: rotateY(-90deg) translateZ($wallSize / 2);
          }
        }
      }
    }

    @keyframes roll {
      0% {
        transform: rotateZ(0deg);
      }
      85% {
        transform: rotateZ(90deg);
      }
      87% {
        transform: rotateZ(88deg);
      }
      90% {
        transform: rotateZ(90deg);
      }
      100% {
        transform: rotateZ(90deg);
      }
    }

    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-$wallSize);
      }
    }
  }


  /*桌面版本*/

  // 桌面版
  @include bp(desktop) {

    // Home page cube styles
    $wallSize: 200px;

    .content div {
      transform-style: preserve-3d;
    }

    .world {
      transform: rotateX(-30deg) rotateY(-30deg);
      .forward {
        position: absolute;
        animation: slide 2000ms linear infinite;
        right: 2rem;
        top: 20vh;
      }
      .box {
        width: $wallSize;
        height: $wallSize;
        transform-origin: 100% 100%;
        animation: roll 2000ms cubic-bezier(1.000, 0.010, 1.000, 1.000) infinite;
        .wall {
          position: absolute;
          width: $wallSize;
          height: $wallSize;
          // background: rgba(10, 10, 10, 0.9);
          background: transparent;
          border: 1px solid rgba(250, 250, 250, .5);
          box-sizing: border-box;
          &:nth-child(1) {
            transform: translateZ($wallSize / 2);
          }
          &:nth-child(2) {
            transform: rotateX(180deg) translateZ($wallSize / 2);
          }
          &:nth-child(3) {
            transform: rotateX(90deg) translateZ($wallSize / 2);
          }
          &:nth-child(4) {
            transform: rotateX(-90deg) translateZ($wallSize / 2);
          }
          &:nth-child(5) {
            transform: rotateY(90deg) translateZ($wallSize / 2);
          }
          &:nth-child(6) {
            transform: rotateY(-90deg) translateZ($wallSize / 2);
          }
        }
      }
    }

    @keyframes roll {
      0% {
        transform: rotateZ(0deg);
      }
      85% {
        transform: rotateZ(90deg);
      }
      87% {
        transform: rotateZ(88deg);
      }
      90% {
        transform: rotateZ(90deg);
      }
      100% {
        transform: rotateZ(90deg);
      }
    }

    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-$wallSize);
      }
    }
  }
}
